.vs
.vscode
.editorconfig
*.dat
tools/*.exe
tools/*.dll
deps
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.out
*.elf
*.dol
*.a
*.d
build
compiler
__pycache__
genCsv.py
checkObject.py
sanity_check.py
.ninja_log
.ninja_deps
build.ninja