[submodule "libs/RVL_SDK"]
	path = libs/RVL_SDK
	url = https://github.com/shibbo/RVL_SDK.git
[submodule "libs/nw4r"]
	path = libs/nw4r
	url = https://github.com/shibbo/nw4r.git
[submodule "libs/JSystem"]
	path = libs/JSystem
	url = https://github.com/shibbo/JSystem.git
[submodule "libs/MSL_C"]
	path = libs/MSL_C
	url = https://github.com/shibbo/MSL_C.git
[submodule "libs/Runtime"]
	path = libs/Runtime
	url = https://github.com/shibbo/Runtime.git
[submodule "libs/MetroTRK"]
	path = libs/MetroTRK
	url = https://github.com/shibbo/MetroTRK.git
